* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  display: flex;
  position: sticky;
  background-color: black;
  list-style-type: none;
  box-shadow: 10px 0PX 10px black;
  z-index: 99;
}

.navbar>div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item li {
  list-style: none;
  float: left;
  margin: 0px 20px;
}

.item{
  padding-right: 100px;
}
.item a {
  text-decoration: none;
  color: white;
}
.item a:hover {
  color: rgb(231, 0, 0);
}

.search{
  display: flex;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 4px;
}

.search input[type="text"] {
  padding: 6px;
  text-decoration: none;
  border: none ;
  outline: none;
}

.search button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.search button img {
  width: 30px;
}


.logomarca{
padding-right: 200px;
padding-top: 10px;
}

@media screen and (max-width: 768px) {
  .logomarca {
    padding-right: 0; /* Remover o espaçamento à direita para a logomarca em telas menores */
    padding-left: 20px; /* Adicionar espaçamento à esquerda para a logomarca em telas menores */
  }

  .item {
    display: none; /* Esconder os itens do menu principal em telas menores */
  }

  .search {
    padding-right: 20px; /* Reduzir o espaçamento à direita para o formulário de pesquisa em telas menores */
  }

  .tresbarras {
    display: block; /* Exibir o ícone de menu em telas menores */
  }
}







