body{
    background-color: rgb(182, 177, 177);
}

.titulo{
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 20px;
}

.deadpool-3{
    text-decoration: underline;
}
.deadpool{
    float: left;
    margin-right: 30px;
}
.dead{
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: none;
    display: inline-block; /* Permite que o background-color se ajuste ao conteúdo */
    border-radius: 5px;
}
.pool{
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.duna-2{
    float: left;
    margin-right: 30px;
}

.espaço{
    background-color: black;
    padding: 30px;
}

.duna{
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: none;
    display: inline-block; 
    border-radius: 5px;
}

.du{
    text-decoration: underline;;
}

