* {
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}


input {
    border: 2px solid white;
    border-radius: 10px;
    margin: 10px;
    margin-left: 5px;
}

/* CSS */
.container {
    max-width: 1200px;
    margin: 0 auto;
}



.container a:hover {
    background-color: #ffffff;
    color: #000000;
    padding: 15px 10px;
}

header {
    background-color: #e4002b;
    color: #fff;
    padding:15px ;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li.search-bar {
    margin: 0;
}

nav ul li.search-bar form {
    display: inline-flex;
    align-items: center;
}

nav ul li.search-bar input[type="text"] {
    padding: 8px;
    font-style: italic;
    margin-left: 5px;
}

nav ul li.search-bar button {
    margin-right: 5px;
    padding: 8px 16px;
    background-color: #fff;
    border: none;
    color: #333;
    cursor: pointer;
    font-style: italic;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 21px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}

.carousel {
    width: 100%;
    height: 800px;
    background-color: #f2f2f2;
    margin-top: 0px;
    margin-bottom: 100px;
    object-fit: cover;
}       

h1 {
    font-family: "Inter", sans-serif;
    text-align: center;
    margin-bottom: 20px !important;
}

section h2 {
    margin-bottom: 20px;
    font-size: 28px;
    text-align: center;
    font-family: "Inter", sans-serif;
}

.container p {
    font-size: 30px;
    font-family: "Inter", sans-serif;
}

.btn-secondary{
    background-color: #e4002b !important;
    border: 1px solid white;
    width: 100px;
    padding: 12px 10px; 
   
}

section p {
    font-size: 18px;
    line-height: 1.6;
    font-family: "Inter", sans-serif;
}

.exposicao,
.colecao {
    margin-bottom: 40px;
    text-align: center;
}

.exposicao img,
.colecao img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.exposicao h3,
.colecao h3 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: "Inter", sans-serif;
}

.exposicao p,
.colecao p {
    font-size: 18px;
    font-family: "Inter", sans-serif;
}



.rodape {
    background-color: #181412;
    color: rgb(0, 0, 0);
    height: auto;
    width: 100%;
    font-size: 14px;
    font-family: "Inter", sans-serif;
}

.rodape a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.rodape-div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: stretch;
}

.rodape-div-3{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: stretch;
    color: white;
}

.rodape-div-1,
.rodape-div-2,
.rodape-div-3,
.rodape-div-4 {
    display: flex;
    width: calc(100% / 4 - 0px);
    padding: 50px;
    background-color: #e4002b;
    color: white;
}

.rodape span {
    font-size: 20px;
    color: white;
}

.rodape-direitos {
    width: 100%;
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 20px 0px;
    text-align: center;
    margin: 0px;
}

.termos {
    text-align: center;
    margin-top: 20px;
}

.sub-titulo {
    text-align: center;
    margin: 20px;
}

.content {
    margin: 40px;
    font-size: 20px;
}
@media (max-width: 768px) {

    @media (max-width: 768px) {
        .carousel {
            height: 300px;
            /* Reduzindo a altura do carousel */
        }

        section h2 {
            font-size: 20px;
            /* Reduzindo o tamanho do texto */
        }

        section p {
            font-size: 14px;
            /* Reduzindo o tamanho do texto */
        }

        .exposicao h3,
        .colecao h3 {
            font-size: 18px;
            /* Reduzindo o tamanho do texto */
        }

        .exposicao p,
        .colecao p {
            font-size: 14px;
            /* Reduzindo o tamanho do texto */
        }

        .rodape-div-1,
        .rodape-div-2,
        .rodape-div-3,
        .rodape-div-4 {
            width: calc(50% - 20px);
            /* Mudando a largura das colunas */
        }
    }

    .rodape-div {
        padding: 60px 0px 40px 0px;
    }
}